.form-elegant .font-small {
    font-size: 0.8rem; }
  
  .form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(255, 0, 191, 0.26), 0 4px 12px 0 rgba(86, 105, 161, 0.25);
    box-shadow: 0 2px 5px 0 rgba(65, 146, 48, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
  
  .form-elegant .z-depth-1-half,
  .form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(246, 251, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }